node_modules
**/node_modules
.next
**/.next
dist
**/dist
.turbo
**/.turbo
**/tsconfig.tsbuildinfo
.git
.gitignore
README.md
.env
.env.local
.env.*.local
npm-debug.log*
.DS_Store
.vscode
.idea
*.log
coverage
